---
import Card from "./Card.astro";
---

<footer class="mt-auto">
  <article class="flex flex-col w-full text-center md:flex-row">
    <Card
      name="OFICINA BÁVARO"
      texto="Autopista del Coral Km. 82"
      telefono="Plaza Industrial del Boulevard, Local 2"
      telefono1="Bávaro"
      correo="República Dominicana"
    />
    <Card
      name="OFICINA SANTO DOMINGO"
      texto="C/ Francisco Prats Ramirez  "
      telefono="Condominio Alejandrina #655, loc. 106"
      telefono1="Ensanche Quisqueya. Santo Domingo"
      correo="República Dominicana"
    />
    <Card
      name="INFORMACIÓN"
      texto="Lunes - Viernes: 8am a 5pm."
      telefono="Santo Domingo 809-566-4245"
      telefono1="Bavaro 809-468-5300"
      correo="info@hotelservis.com"
    />
  </article>

  <div class="text-center text-black mb-3">
    <strong>
      &copy; 2017 Hotelservis - Venta de accesorios hoteleros. Todos los
      derechos reservados.</strong
    >
  </div>

  <!-- 
  <div >
    <div
      class="pt-5 flex flex-col items-center justify-between w-full text-center md:flex-row "
    >
      <img
        src="../../Img/logo.png"
        alt="Logo"
        class="md:w-96 md:h-30 sm:h-20 ms:w-40"
      />
      <div class="text-sm max-w-48">
        <p>
          <strong>OFICINA SANTO DOMINGO</strong>
        </p>
        <p>
          C/ Francisco Prats Ramirez Condominio Alejandrina #655, loc. 106
          Ensanche Quisqueya, Santo Domingo. República Dominicana
        </p>
      </div>
      <div class="text-sm max-w-48">
        <p>
          <strong>OFICINA SANTO DOMINGO</strong>
        </p>
        <p>
          C/ Francisco Prats Ramirez Condominio Alejandrina #655, loc. 106
          Ensanche Quisqueya, Santo Domingo República Dominicana
        </p>
      </div>
      <div class="text-sm max-w-48">
        <p>
          <strong>OFICINA BÁVARO</strong>
        </p>
        <p>
          Autopista del Coral Km. 82 Plaza Industrial del Boulevard, Local 2
          Bávaro República Dominicana
        </p>
      </div>
    </div>

    <div class="mt-4 text-center text-black">
      &copy; 2023 Mi Empresa. Todos los derechos reservados.
    </div>
  </div>
  -->
</footer>
