---
import Header from "../components/Header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
</html>
<body class="m-auto flex flex-col min-h-screen">
  <Header />
  <main>
    <slot />
  </main>

  <script defer>
    const menuButton = document.getElementById("menu-button");
    const sidebar = document.getElementById("nav");

    menuButton.addEventListener("click", () => {
      sidebar.classList.toggle("hidden");
    });
  </script>
</body>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background:;
    background-size: 224px;
    color-scheme: normal;
  }
</style>
